body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}

a {
    text-decoration: none; /* because we will probably never use native a tag */
    color: black;
}

* {
    box-sizing: border-box;
}